## Dispute Resolution

In the event of a dispute, the parties agree to first attempt mediation. If unresolved, the matter will be subject to arbitration in {{ jurisdiction }} under the rules of {{ arbitration_body }}.