## Intellectual Property

All intellectual property developed under this contract shall be owned by {{ ownership_party }}, unless otherwise agreed in writing. Any pre-existing intellectual property remains the sole property of the originating party.