## Service Level Agreement

This SLA is effective from {{ effective_date }} and applies to the services provided by {{ vendor }} to {{ agency }}.

The service provider agrees to maintain an uptime of {{ uptime_percentage }}% and provide response to critical incidents within {{ response_time }} hours. Penalties for non-compliance will be applied as outlined in section {{ penalty_section }}.