## Termination Clause

Either party may terminate this Agreement by providing written notice of {{ notice_period }} days to the other party. Upon termination, all confidential materials must be returned or destroyed as per the data handling terms in section {{ data_handling_reference }}.